@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400&family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Manjari', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #18181b;
}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#img img {
    width: 28rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.25rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#title::after {
    position: absolute;
    content: '';
    width: 13rem;
    height: 3px;
    border-radius: 4px;
    background-color: #14560B;
    bottom: 0;
    left: 0;
}

.input-box label {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Manjari', sans-serif;
    color: #afb8c4;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    color: #f8fafc;
    padding: 0 0.5rem;
    font-family: 'Manjari', sans-serif;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 4px;
    margin-top: 3px;
}

.input-field span {
    font-family: 'Manjari', sans-serif;
    color: #cbd5e1;
    font-size: 1.1rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}

#calculate {
    border: none;
    font-size: 1.20rem;
    font-weight: 400;
    color: #f8fafc;
    background-color: #14560B;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    font-family: 'Manjari', sans-serif;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
    font-family: 'Manjari', sans-serif;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color: #cbd5e1;
}

.normal {
    color: #14560B;
}

.attention {
    color: #dc2626;
}

#description {
   width: 15.5rem;
   font-family: 'Manjari', sans-serif;
}

#more_info a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: #1c6e11;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s;
    font-family: 'Manjari', sans-serif;
    font-weight: 800;
}

#more_info a:hover {
    color: #cbd5e1;
}

.hidden {
    display: none;
}

@media screen and (max-width :1024px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 500){
    #img {
        display: none;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}



